<div class="categories">
    <h3>კატეგორიები</h3>
    <div class="category" routerLink="/Categories/ანდროლოგი">
      <p class="Quantity">(15)</p>
      <p class="Profession">ანდროლოგი </p>
    </div>
    <div class="category" routerLink="/Categories/ანესთეზიოლოგი">
      <p class="Quantity">(8)</p>
      <p class="Profession">ანესთეზიოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/კარდიოლოგი">
      <p class="Quantity">(5)</p>
      <p class="Profession">კარდიოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/კოსმეტოლოგი">
      <p class="Quantity">(7)</p>
      <p class="Profession">კოსმეტოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/ლაბორანტი">
      <p class="Quantity">(23)</p>
      <p class="Profession">ლაბორანტი</p>
    </div>
    <div class="category" routerLink="/Categories/ოჯახის-ექიმი">
      <p class="Quantity">(35)</p>
      <p class="Profession">ოჯახის ექიმი</p>
    </div>
    <div class="category" routerLink="/Categories/პედიატრი">
      <p class="Quantity">(25)</p>
      <p class="Profession">პედიატრი</p>
    </div>
    <div class="category" routerLink="/Categories/ტოქსიკოლოგი">
      <p class="Quantity">(21)</p>
      <p class="Profession">ტოქსიკოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/ტრანსფუზილოგი">
      <p class="Quantity">(4)</p>
      <p class="Profession">ტრანსფუზილოგი</p>
    </div>
    <div class="category" routerLink="/Categories/გინეკოლოგი">
      <p class="Quantity">(7)</p>
      <p class="Profession">გინეკოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/დერმატოლოგი">
      <p class="Quantity">(9)</p>
      <p class="Profession">დერმატოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/ენდოკრინოლოგი">
      <p class="Quantity">(10)</p>
      <p class="Profession">ენდოკრინოლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/გასტროენტეროლოგი">
      <p class="Quantity">(17)</p>
      <p class="Profession">გასტროენტეროლოგი</p>
    </div>
    <div class="category" routerLink="/Categories/თერაპევტი">
      <p class="Quantity">(10)</p>
      <p class="Profession">თერაპევტი</p>
    </div>
</div>