<div class="contact">
    <img src="assets/contactlogo.png"/>
    <div class="rightside">
         <div class="titles">
              <h2>ინფორმაცია</h2>
              <h2>პაციენტებისთვის</h2>
              <h2>კონტაქტი</h2>
              <h2>გამოგვყევით</h2>
         </div>
         <div class="linecontact"></div>
         <div class="items">
             <div>
               <p>ჩვენ შესახებ</p>
               <p>პარტნიორები</p>
               <p>ექიმებისთვის</p>
               <p>კლინიკებისთვის</p>
               <p>აფთიაქებისთვის</p>
             </div>
             <div class="secrow">
              <p>ექიმები</p>
              <p>კლინიკები</p>
              <p>ანოტაციები</p>
              <p>ბლოგი</p>
              <p>მედია</p>
            </div>
            <div>
              <p style="max-width: 150px;">სამუშაო დღეები : ორშ - პარ</p>
              <p style="max-width: 140px;">სამუშაო დრო : 9:00 - 17:00</p>
              <p>იაკობ ნიკოლაძე №10 </p>
              <p>032 2 100 100</p>
            </div>
            <div>
              <p>Facebook</p>
              <p>Instagram</p>
              <p>Youtube</p>
            </div>
         </div>
    </div>
</div>
<div class="cr">
 <p>copyright</p>
</div>