<app-navbar (filter)="filterObjects($event.searchWithName, $event.searchWithCategory)"></app-navbar>
<div class="img">
  <img src="assets/national-cancer-institute-1c8sj2IO2I4-unsplash-scaled.webp"/>
  <div class="cover">
       
  </div>
  <h1>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</h1>
  <div class="location">
    <svg fill="#18A4E1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 395.71 395.71" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738 c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388 C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191 c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"></path> </g> </g></svg>
    <p>იაკობ ნიკოლაძე №10</p>
  </div>
</div>
<div class="secondSection">
    <app-categories-navbar class="categoryComp"></app-categories-navbar>
    <div class="container">
         <div *ngFor="let doctor of doctors" class="item">
            <div>
              <div class="topside">
                <div class="views">
                  <img src="assets/eye.png"/>
                  <p>{{doctor.views}}</p>
                </div>
                <img src="assets/unpinned.png" style="cursor: pointer;" (click)="pinObject(doctor)" *ngIf="!pinnedObjects.includes(doctor.id)"/>
                <img src="assets/pin.png" style="cursor: pointer;"  (click)="pinObject(doctor)" *ngIf="pinnedObjects.includes(doctor.id)"/>
              </div>
              <img src={{doctor.photo}} class="doctorimage" (click)="moveOnProfile(doctor.id)"/>
              <h4 class="name" (click)="moveOnProfile(doctor.id)">{{doctor.firstname}} <b>{{doctor.lastname}}</b></h4>
              <p class="doccategory" (click)="moveOnProfile(doctor.id)">{{doctor.categories}}</p>
              <div class="reservingbtn" style="cursor: pointer;"(click)="moveOnProfile(doctor.id)">
                <p>მიღებაზე ჩაწერა</p>
              </div>
            </div>
         </div>
    </div>
</div>
<app-contact id="contact"></app-contact>